<div class="new_route" ng-if="ctl.is_logged()">
	<label>Title</label>
	<input type="text" ng-model="ctl.route_title">
	<label>Description</label>
	<input type="text" ng-model="ctl.route_descr">
	<label>Status</label>
	<select ng-model="ctl.route_status">
		<option value="public">Public</option>
		<option value="private">Private</option>
		<option value="draft">Draft</option>
	</select>
	<input type="submit" value="create" ng-click="ctl.new_route()">
</div>
<%= render :partial => "/users/unauth_user" %>