<div class="map_container"">
  <ng-map id="map" zoom="11"  on-click="ctl.getPos($event)" center="[45.4374396,12.330374]" style="height: 100%">
    <marker position="[45.4374396,12.330374]" title="Prova"></marker>
  </ng-map>
</div>