<div class="profile" ng-if="ctl.is_logged()">
	profilo utente<br>
	<a href="#new_route">Crea un nuovo percorso</a><br>
	<a rel="nofollow" data-method="delete" href="/users/sign_out">Logout</a>       
</div>
<%= render :partial => "/users/unauth_user" %>

